
/* Estilos para la tabla de gestión */
:root {
    --light-color: #EFFEFF;
    --medium-color: #a1c2c5;
    --dark-color: #0E2C31;
    --emphasis-color-1: #5ba0a5;
    --emphasis-color-2: #d0f1f4;
}

#Div_IU_Test {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    border: 0; /* Sin borde */
    box-sizing: border-box; /* Incluye el borde en el tamaño total */

    overflow: auto; /* Añade scroll si el contenido desborda */
    
    & * {
        font-family: monospace;
        font-size: 12pt;
    }
}

    /* Estilos para la tabla dentro del contenedor */
#tablaresultadostest {
        margin-top: 10pt;
        width: 100%; /* Ocupa todo el ancho del contenedor */
        border: 6pt solid var(--light-color); /* Borde exterior de la tabla */

        /* Estilos para las celdas de encabezado */
        & th {
            padding: 10pt; /* Relleno */
            background-color: var(--dark-color); /* Color de fondo */
            color: var(--light-color); /* Color de texto */
            user-select: none; /* Evita selección de texto */
            
            /* Estilos para el primer th */
            &:first-child {
                border-top-left-radius: 10pt; /* Bordes redondeados superiores izquierdos */
            }

            /* Estilos para el último th */
            &:last-child {
                border-top-right-radius: 10pt; /* Bordes redondeados superiores derechos */
            }
        }

        /* Estilos para las filas de la tabla */
        & tr {
            /* Estilos para las celdas de datos */
            & td {
                text-align: center; /* Alinear texto al centro */
                transition: background-color 0.1s; /* Transición suave al cambiar color fondo */
                padding: 5pt;
            }

            /* Pseudo-clase - nth-child() - Permite seleccionar elementos en función de su posición entre sus hermanos.
            En este caso, se usa para aplicar estilos alternos a las filas pares e impares. */
            &:nth-child(even) {
                background-color: var(--emphasis-color-2); /* Color de fondo para filas pares */
            }

            /* Estilo para las celdas cuando se pasa el ratón por encima DE LA FILA tr */
            &:hover td {
                background-color: var(--medium-color); /* Color de fondo */
            }

            /* Estilo para la última fila de la tabla */
            &:last-child {
                /* Estilo para la primera celda td */
                & td:first-child {
                    border-bottom-left-radius: 10pt; /* Bordes redondeados inferiores izquierdos */
                }
                
                /* Estilo para la última celda td */
                & td:last-child {
                    border-bottom-right-radius: 10pt; /* Bordes redondeados inferiores derechos */
                }
            }

            /* Estilo para el texto seleccionado dentro de las celdas */
            &::selection {
                background-color: var(--dark-color); /* Color de fondo */
                color: var(--light-color); /* Color de texto */
            }
        }
}



#IU_Test_result_nofile, #IU_Test_result_file  {
    border: 2pt solid var(--emphasis-color-1); /* Borde */
    border-top: 0;
    
    & * {
        font-size: 10pt;
    }
    & table {
        margin-top: 0;

        & td, th {
            max-width: 40pt;
            overflow-wrap: break-word;
        }
    }
}
